<!-- HERO -->
<section id="pagina-inicial" class="max-w-6xl banner mx-auto bg-white pt-0">
  <div class="relative overflow-hidden w-full">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img src="./WhatsApp Image 2023-11-29 at 09.26.07.jpeg" />
        </div>
        <div class="swiper-slide">
          <img src="./WhatsApp Image 2023-11-29 at 09.26.08s.jpeg" />
        </div>
        <div class="swiper-slide">
          <img src="./WhatsApp Image 2023-11-29 at 09.26.08.jpeg" />
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
  <!-- /swiper-container -->

  <article class="sm:w-1/2 text-left hidden" data-aos="zoom-in">
    <h2
      class="max-w-md text-left text-4xl font-bold text-slate-900 dark:text-white sm:text-5xl"
    >
      Conectando
      <span class="text-[#6a4a79] dark:text-indigo-300">Histórias</span>
      Revelando
      <span class="text-[#6a4a79] dark:text-indigo-300">Essências</span>
    </h2>
    <p
      class="mt-4 max-w-md text-center text-2xl text-slate-700 dark:text-slate-400 sm:text-left"
    >
      Estamos construindo marcas para o próximo século hoje. Da essência à
      história, do valor à visão e além...
    </p>
    <p
      class="mt-4 max-w-md text-center text-2xl text-slate-700 dark:text-slate-400 sm:text-left"
    >
      Pense D3 Assessoria.
    </p>
  </article>
  <img class="w-1/2 hidden" src="/Logo-Deise.png" alt="Rocket Dab" />
</section>
