<section id="nossa-equipe">
  {{> section-header title="título da seção nossa equipe" text="Nossa Equipe"}}
  <article>
    <div class="flex flex-col md:flex-row justify-between mb-16">
      <p class="md:w-1/2">
        Conheça a equipe apaixonada da D3 Assessoria. Somos mais do que
        especialistas em comunicação e marketing, somos contadores de histórias,
        apaixonados por desvendar a alma de cada marca que representamos.
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {{#each equipe}}
      <div
        class="bg-white rounded-md mx-auto relative shadow-lg overflow-hidden border-8 w-72"
      >
        <div class="absolute top-4 left-4">
          <p class="text-xl font-bold">{{this.nome}}</p>
          <p class="pl-3">{{this.cargo}}</p>
          <hr class="mt-2 ml-6 w-16" />
        </div>
        <img src="{{this.imagem}}" alt="" />
        <ul class="absolute">
          <li></li>
        </ul>
      </div>
      {{/each}}
    </div>
  </article>
</section>
