<section id="parceiros">
  {{> section-header title="título da seção parceiros" text="Parceiros"}}
  <h3>
    Cada perceria reflete uma conquista única em nossa jornada de conectar
    marcas à sua essência. Os depoimentos são testemunhos vivos de
    transformações e sucessos compartilhados.
  </h3>
  <div class="grid grid-col-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    {{#each depoimentos}}
    <figure>
      <blockquote
        class="relative rounded-3xl bg-[#ec5a6f]/30 p-8 text-black/80 dark:bg-[ffd0be]"
      >
        <p
          class="text-left before:absolute before:top-0 before:left-0 before:translate-x-2 before:translate-y-2 before:transform before:font-serif before:text-6xl before:text-white before:opacity-25 before:content-['\201C'] after:absolute after:bottom-[-1rem] after:right-0 after:-translate-x-2 after:-translate-y-2 after:transform after:font-serif after:text-6xl after:text-white after:opacity-25 after:content-['\201D']"
        >
          {{this.texto}}
        </p>
      </blockquote>
      <figcaption
        class="mt-2 text-right text-2xl italic text-slate-500 dark:text-slate-400 sm:text-xl"
      >
        &#8212;{{this.titulo}}
      </figcaption>
    </figure>
    {{/each}}
  </div>
</section>
