<section id="quem-somos">
  {{> section-header title="título da seção quem somos" text="Sobre a D3
  Assessoria"}}
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
    <div class="relative">
      <div class="grid grid-cols-4 md:grid-cols-2">
        <!-- {{> sobre-nos-peca imageUrl='./fotos/FOTOS-PROFISSIONAIS-IIII.jpg'
              imageAlt=this.imageAlt text=this.text
              moreInfoUrl=this.moreInfoUrl}} -->
        <img
          data-aos="fade-down"
          src="./fotos/FOTOS-PROFISSIONAIS-IIII.jpg"
          alt=""
        /><img
          data-aos="fade-left"
          class=""
          src="./fotos/aline-tonolli-peca.jpeg"
          alt=""
        /><img
          data-aos="fade-right"
          class=""
          src="./fotos/estephany-peca.jpeg"
          alt=""
        /><img
          data-aos="fade-up"
          class=""
          src="./fotos/FOTOS-PROFISSIONAIS-IIII.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="pr-4">
      <h2 data-aos="zoom-in" class="font-extrabold text-3xl font-urbanist">
        <ul class="inline-block ml-16 mb-16">
          <li data-aos="fade-right">Conectando Almas</li>
          <li data-aos="fade-right" data-aos-delay="500" class="ml-8">
            Contando Histórias
          </li>
          <li data-aos="fade-right" data-aos-delay="1000" class="ml-16">
            Elevando Marcas
          </li>
        </ul>
      </h2>
      <article
        data-aos="zoom-in"
        data-aos-delay="500"
        class="flex flex-col space-y-2 font-plus-jakarta-sans"
      >
        <p>
          Somos uma equipe apaixonada e especializada em assessoria, estratégias
          de marketing e comunicação, dedicada a revelar e amplificar a alma de
          cada marca que representamos.
        </p>
        <p>
          Nossa missão é ir além do convencional, mergulhando fundo nas
          histórias, valores e visões únicas de nossos clientes, para criar
          conexões autênticas e duradouras com seu público.
        </p>
        <p class="hidden">
          Acreditamos que o verdadeiro poder do marketing reside em contar
          histórias genuínas, trazendo a essência e destacando a sua
          singularidade.
        </p>
        <p class="hidden">
          Quem somos é um reflexo de nossa paixão por ajudar as marcas a
          brilharem, e nossa dedicação em tornar cada história de marca uma
          experiência memorável.
        </p>
        <p class="hidden">
          Imagine um parceiro que mergulha fundo em sua marca, compreendendo não
          apenas o que você faz, mas por que você faz. Na D3 Assessoria,
          objetivo não está em volume e produção, de posts prontos; criamos uma
          estratégia de comunicação com ferramentas de marketing que é uma
          extensão de sua visão e valores.
        </p>
      </article>
    </div>
  </div>
</section>
