<section id="servicos">
  {{> section-header title="título da seção serviços" text="Serviços"}}
  <div class="flex flex-col md:flex-row justify-between mb-16">
    <p class="">
      Na D3 Assessoria de Comunicação, transformamos sua presença no mercado com
      uma gama completa de serviços personalizados. Da assessoria de imprensa à
      gestão de mídias sociais, passando por produção audiovisual e
      desenvolvimento de sites, oferecemos soluções inovadoras para elevar sua
      marca.
    </p>
  </div>
  <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 list-none">
    {{#each servicos}}
    <li
      class="mx-auto flex flex-col items-center rounded-3xl py-6 px-3 shadow-md w-3/4 md:w-5/6 lg:w-5/6 h-full !bg-[#3c3cbb]/50 bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-10"
    >
      <h3 class="text-center font-bold text-2xl text-[#1f1917]">
        {{this.titulo}}
      </h3>
      <!-- <img src="" alt="Explorer" class="mb-6 w-1/2" /> -->
      <span class="mt-4 text-[#201a18] text-base">{{this.texto}}</span>
    </li>
    {{/each}}
  </ul>
</section>
